.products-card-container {
  display: flex;
  flex-wrap: wrap;  
  align-items: flex-start;
  justify-content: space-between;
  padding-left: 5%;
  padding-right: 5%;
}

.product-card {
  box-sizing: border-box;
  width: 30%;

  padding: 1%;
  margin-bottom: 2%;

  text-align: center;
  background-color: lightgray;
  border-radius: 10px;
}

.product-card .card-img {
  width: 100%;
  object-fit: contain;
}

.card-price-info {
  display: flex;
  flex-wrap: wrap;  
  align-items: flex-start;
  justify-content: space-around;
}

.card-price {
  color: red;
}

.add-to-cart {
  padding: 2px;
  background-color: lightcoral;
  border: 1px solid lightcoral;
  border-radius: 5px;
  text-transform: uppercase;
  color: white;
  cursor: pointer;
}

.products-list-container {
  padding-left: 5%;
  padding-right: 5%;
}

.product-list {
  display: flex;
  align-items: center;
  justify-content: space-between;

  box-sizing: border-box;

  padding: 1%;
  margin-bottom: 5px;

  text-align: center;
  background-color: lightgray;
}

.product-list .card-img {
  width: 10%;
  object-fit: contain;
}

.product-list h1 {
  width: 25%;
}